logs
project/project
project/target
public/*
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/ui/lib
/ui/node_modules
/npm-debug.log

/utils/api-simulation/node_modules
/utils/source/appnexusapi-simulator/node_modules